@import url('../video/__item/video__item.css');
@import url('../video/__icon/video__icon.css');
@import url('../video/__container/video__container.css');
@import url('../video/__duration/video__duration.css');
@import url('../video/__subtitle/video__subtitle.css');
@import url('../video/__title/video__title.css');
@import url('../video/__content-title/__video__content-title.css');
@import url('../video/__content-subtitle/video__content-subtitle.css');
@import url('../video/__rect/video__rect.css');
@import url('../video/__item/_type_observatory/video__item_type_observatory.css');
@import url('../video/__item/_type_kamchatka/video__item_type_Kamchatka.css');

.video {
    max-width: 100%;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .video {
        width: calc(100% - 70px);
    }
}

@media screen and (max-width: 780px) {
    .video {
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 375px) {
    .video {
        width: calc(100% - 30px);
    }
}