@import url('../intro/__title/intro__title.css');
@import url('../intro/__main-text/intro__main-text.css');
@import url('../intro/__span/intro__span.css');
@import url('../intro/__paragraph/intro__paragraph.css');


.intro {
    margin: 80px auto 0;
    max-width: 984px;
}

@media screen and (max-width: 1000px) {
    .intro {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 410px) {
    .intro {
        margin: 64px auto 0;
        width: calc(100% - 32px);
    }
}