.intro__paragraph {
    max-width: 383px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    list-style-type: none;
    color: #FFFFFF;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 470px) {
    .intro__paragraph {
        font-size: 12px;
        line-height: 19px;
    }
}